<div class="sidebar px-4 py-4 py-md-4 me-0">
  <div class="d-flex flex-column h-100">
    <ul class="menu-list flex-grow-1 mt-3">
      <li>
        <a class="m-link active" href="/admin/home">
          <i class="icofont-home fs-5"></i>
          <span>
            Dashboard
          </span>
        </a>
      </li>
      <li class="collapsed">
        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-product" href="#">
          <i class="icofont-truck-loaded fs-5"></i>
          <span>
            Products
          </span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul class="sub-menu collapse" id="menu-product">
          <li>
            <a class="ms-link" href="/admin/listproduct">
              Product List
            </a>
          </li>
          <li>
            <a class="ms-link" href="/admin/addProduct">
              Product Add
            </a>
          </li>
        </ul>
      </li>
      {{!-- <li class="collapsed">
        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#categories" href="#">
          <i class="icofont-chart-flow fs-5"></i>
          <span>
            Categories
          </span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul class="sub-menu collapse" id="categories">
          <li>
            <a class="ms-link" href="categorie-list.html">
              Categories List
            </a>
          </li>
          <li>
            <a class="ms-link" href="categories-edit.html">
              Categories Edit
            </a>
          </li>
          <li>
            <a class="ms-link" href="categories-add.html">
              Categories Add
            </a>
          </li>
        </ul>
      </li> --}}
      <li class="collapsed">
        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-order" href="#">
          <i class="icofont-notepad fs-5"></i>
          <span>
            Orders
          </span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul class="sub-menu collapse" id="menu-order">
          <li>
            <a class="ms-link" href="order-list.html">
              Orders List
            </a>
          </li>
          <li>
            <a class="ms-link" href="order-details.html">
              Order Details
            </a>
          </li>
          <li>
            <a class="ms-link" href="order-invoices.html">
              Order Invoices
            </a>
          </li>
        </ul>
      </li>

      <li class="collapsed">
        <a class="m-link" href="/admin/usersList">
          <i class="icofont-funky-man fs-5"></i>
          <span>
            Users
          </span>
        </a>
      </li>

      <li class="collapsed">
        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-sale" href="#">
          <i class="icofont-sale-discount fs-5"></i>
          <span>
            Coupons
          </span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul class="sub-menu collapse" id="menu-sale">
          <li>
            <a class="ms-link" href="coupons-list.html">
              Coupons List
            </a>
          </li>
          <li>
            <a class="ms-link" href="coupon-add.html">
              Coupons Add
            </a>
          </li>
          <li>
            <a class="ms-link" href="coupon-edit.html">
              Coupons Edit
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Menu: menu collepce btn -->
    <button type="button" class="btn btn-link sidebar-mini-btn text-light">
      <span class="ms-2">
        <i class="icofont-bubble-right"></i>
      </span>
    </button>
  </div>
</div>