<div class="sidebar px-4 py-4 py-md-4 me-0" style="z-index: 100 !important;">
  <div class="d-flex flex-column h-100">
    <ul class="menu-list flex-grow-1 mt-3">
      <li>
        <a class="m-link active" href="/admin/">
          <i class="icofont-home fs-5"></i>
          <span>
            Dashboard
          </span>
        </a>
      </li>
      <li class="collapsed">
        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-product" href="#">
          <i class="icofont-truck-loaded fs-5"></i>
          <span>
            Products
          </span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul class="sub-menu collapse" id="menu-product">
          <li>
            <a class="ms-link" href="/admin/listproduct">
              Product List
            </a>
          </li>
          <li>
            <a class="ms-link" href="/admin/addProduct">
              Product Add
            </a>
          </li>
        </ul>
      </li>
      {{!-- <li class="collapsed">
        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#categories" href="#">
          <i class="icofont-chart-flow fs-5"></i>
          <span>
            Categories
          </span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul class="sub-menu collapse" id="categories">
          <li>
            <a class="ms-link" href="categorie-list.html">
              Categories List
            </a>
          </li>
          <li>
            <a class="ms-link" href="categories-edit.html">
              Categories Edit
            </a>
          </li>
          <li>
            <a class="ms-link" href="categories-add.html">
              Categories Add
            </a>
          </li>
        </ul>
      </li> --}}
      <li class="collapsed">
        <a class="m-link" href="/admin/orderList">
          <i class="icofont-notepad fs-5"></i>
          <span>
            Orders
          </span>
        </a>
      </li>

      <li class="collapsed">
        <a class="m-link" href="/admin/usersList">
          <i class="icofont-funky-man fs-5"></i>
          <span>
            Users
          </span>
        </a>
      </li>

      <li class="collapsed">
        <a class="m-link" href="/admin/couponsList">
          <i class="icofont-sale-discount fs-5"></i>
          <span>
            Coupons
          </span>
        </a>
      </li>
    </ul>
    <!-- Menu: menu collepce btn -->
    <button type="button" class="btn btn-link sidebar-mini-btn text-light">
      <span class="ms-2">
        <i class="icofont-bubble-right"></i>
      </span>
    </button>
  </div>
</div>

<script>
  const navLinks = document.querySelectorAll('.m-link');

  navLinks.forEach(link => {
    link.addEventListener('click', () => {
      navLinks.forEach(otherLink => otherLink.classList.remove('active'));
      link.classList.add('active');
    });
  });
</script>