<div class="header">
        <nav class="navbar py-4">
          <div class="container-xxl">
            <!-- header rightbar icon -->
            <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
              <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                <div class="u-info me-2">
                  <p class="mb-0 text-end line-height-sm">
                    <span class="font-weight-bold">
                      John Quinn
                    </span>
                  </p>
                  <small>
                    Admin Profile
                  </small>
                </div>
                <img class="avatar lg rounded-circle img-thumbnail" src="/admin/assets/images/profile_av.svg"
                  alt="profile" />
              </div>

              <div class="setting ms-2">
                <a href="#" data-bs-toggle="modal" data-bs-target="#Settingmodal">
                  <i class="icofont-gear-alt fs-5"></i>
                </a>
              </div>
            </div>

            <!-- menu toggler -->
            <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#mainHeader">
              <span class="fa fa-bars"></span>
            </button>

            <!-- main menu Icon-->
            <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0">
              <div class="col-lg-3 col-md-3 col-4">
                <div class="logo">
                  <a>
                    <img src="/user/assets/img/logo/logo.png" alt="" height="41px" width="150px" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>