<!--footer area start-->
<footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-5">
                    <div class="widgets_container widget_app">
                        <div class="footer_logo" style="display: inline-block; margin-bottom: 15px;">
                            <a href="/"><img src="/user/assets/img/logo/logo.png" alt="" /></a>
                        </div>
                        <address>
                            <p style="margin-bottom: 3px;">Sidra Gardening And Landscaping,</p>
                            <p style="margin-bottom: 3px;">Thodannur, Vadakara,</p>
                            <p style="margin-bottom: 3px;">Kozhikode, Kerala,</p>
                            <p style="margin-bottom: 3px;">673541</p>
                        </address>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-none d-md-block d-lg-block">
                    <div class="widgets_container widget_menu">
                        <h3>Menu</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href=".html">Home</a></li>
                                <li><a href="wishlist.html">Blog</a></li>
                                <li><a href="faq.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-none d-md-block d-lg-block">
                    <div class="widgets_container widget_menu">
                        <h3>Shop</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Plants</a></li>
                                <li><a href="#">Containers</a></li>
                                <li><a href="contact.html">Supplies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 d-none d-md-none d-lg-block">
                    <div class="widgets_container widget_menu">
                        <h3>Account</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="contact.html">Wishlist</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--footer area end-->