<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/img/favicon.ico" />

    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css" />
    <!--owl carousel min css-->
    <link rel="stylesheet" href="/user/assets/css/owl.carousel.min.css" />
    <!--slick min css-->
    <link rel="stylesheet" href="/user/assets/css/slick.css" />
    <!--magnific popup min css-->
    <link rel="stylesheet" href="/user/assets/css/magnific-popup.css" />
    <!--font awesome css-->
    <link rel="stylesheet" href="/user/assets/css/font.awesome.css" />
    <!--animate css-->
    <link rel="stylesheet" href="/user/assets/css/animate.css" />
    <!--jquery ui min css-->
    <link rel="stylesheet" href="/user/assets/css/jquery-ui.min.css" />
    <!--slinky menu css-->
    <link rel="stylesheet" href="/user/assets/css/slinky.menu.css" />
    <!--plugins css-->
    <link rel="stylesheet" href="/user/assets/css/plugins.css" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/user/assets/css/style.css" />
    <!--modernizr min js here-->
    <script src="/user/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- Toastify --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>
    {{> userHeader}}
    {{{body}}}
    {{> userFooter}}

    <!-- JS============================================-->
    <!--jquery min js-->
    <script src="/user/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <!--popper min js-->
    <script src="/user/assets/js/popper.js"></script>
    <!--bootstrap min js-->
    <script src="/user/assets/js/bootstrap.min.js"></script>
    <!--owl carousel min js-->
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <!--slick min js-->
    <script src="/user/assets/js/slick.min.js"></script>
    <!--magnific popup min js-->
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <!--counterup min js-->
    <script src="/user/assets/js/jquery.counterup.min.js"></script>
    <!--jquery countdown min js-->
    <script src="/user/assets/js/jquery.countdown.js"></script>
    <!--jquery ui min js-->
    <script src="/user/assets/js/jquery.ui.js"></script>
    <!--jquery elevatezoom min js-->
    <script src="/user/assets/js/jquery.elevatezoom.js"></script>
    <!--isotope packaged min js-->
    <script src="/user/assets/js/isotope.pkgd.min.js"></script>
    <!--slinky menu js-->
    <script src="/user/assets/js/slinky.menu.js"></script>
    <!-- Plugins JS -->
    <script src="/user/assets/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="/user/assets/js/main.js"></script>
    {{!-- axios --}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{!-- Toastify --}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>