<div class="contact_area mt-5 d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="contact_message content">
          <h3 class="text-center">contact us</h3>
          <p>
            Sidra Gardening And Landscaping is dedicated to providing high-quality gardening and landscaping services.
            Our team is committed to creating beautiful outdoor spaces for our clients, tailored to their needs and
            preferences. Contact us today to discuss your gardening and landscaping needs!
          </p>
          <ul>
            <li>
              <i class="fa fa-fax"></i>Sidra Gardening And Landscaping,<br>
              Thodannur, Vadakara,<br>
              Kozhikode, Kerala,<br>
              673541
            </li>
            <li>
              <i class="fa fa-envelope-o"></i><a href="mailto:sidragardening@gmail.com">sidragardening@gmail.com</a>
            </li>
            <li>
              <i class="fa fa-phone"></i> <a href="tel:7356897110">+91 7356897110</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
