
<!-- customer login start -->
<div class="customer_login">
  <div class="container">
    <div class="row">
      <!--login area start-->
      <div class="col-lg-6 col-md-6">
        <div class="account_form">
          <h2>Recover Your Account</h2>
          <form id="forgot-password-form">
            <div id="email-section" style="display: block;">
              <p>
                <input type="text" id="email" name="email" placeholder="Enter Registered Email" />
                <small id="emailError" style="color: red;">{{emailError}}</small>
              </p>
              <div class="login_submit">
                <div class="btn" style="font-size: 13px; color: white; background-color: #79a206; border-radius: 50px"
                  onclick="sendOTP()">Send OTP</div>
              </div>
            </div>

            <div id="otp-section" style="display: none;">
              <p>
                <input type="text" id="otp" name="otp" placeholder="Enter The OTP" />
              </p>
              <div class="login_submit">
                <div class="btn" style="font-size: 13px; color: white; background-color: #79a206; border-radius: 50px"
                  onclick="verifyOTP()">Verify OTP</div>
              </div>
            </div>

            <div id="reset-password-section" style="display: none;">
              <p>
                <input type="password" id="newPassword" name="password" placeholder="Enter New Password" />
                <small id="passwordError" style="color: red;">{{passwordError}}</small>
              </p>
              <p>
                <input type="password" id="confirmPassword" name="confirmPassword"
                  placeholder="Re-enter the Password" />
                <small id="confirmPasswordError" style="color: red;">{{confirmPasswordError}}</small>
              </p>
              <div class="login_submit">
                <div class="btn" style="font-size: 14px; color: white; background-color: #79a206; border-radius: 50px"
                  onclick="resetPassword()">Reset Password</div>
              </div>
            </div>
        </div>

        <div id="message"></div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- customer login end -->

{{! Custom JS }}
<script src="/user/scripts/forgotPassword.js"></script>