<!-- customer login start -->
<div class="customer_login">
  <div class="container">
    <div class="row">
      <!--login area start-->
      <div class="col-lg-6 col-md-6">
        <div class="account_form">
          <h2>Sign In</h2>
          <form action="signIn" method="post" onsubmit="return validateForm()">
            <p>
              <label>Email</label>
              <input id="email" type="text" name="email" value="{{email}}" />
              <small id="emailError" style="color: red;">{{emailError}}</small>
            </p>
            <p>
              <label>Password</label>
              <input id="password" type="password" name="password" value="{{password}}" />
              <small id="passwordError" style="color: red;">{{passwordError}}</small>
            </p>
            <div class="login_submit" style="display: flex; justify-content: space-between;">
              <div style="display: flex; flex-direction: column;">
                <a href="forgotPassword" style="align-self: flex-start;">Lost your password?</a>
                <a href="signUp" style="align-self: flex-start;">Don't have
                  an account? Signup</a>
              </div>
              <button type="submit">SignIn</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- customer login end -->

{{! Custom }}
<script src="/user/scripts/signIn.js"></script>